<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Esercizio6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListaStudentiServlet</display-name>
    <servlet-name>ListaStudentiServlet</servlet-name>
    <servlet-class>it.unipr.informatica.esercizio6.web.ListaStudentiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaStudentiServlet</servlet-name>
    <url-pattern>/lista_studenti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettagliStudenteServlet</display-name>
    <servlet-name>DettagliStudenteServlet</servlet-name>
    <servlet-class>it.unipr.informatica.esercizio6.web.DettagliStudenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettagliStudenteServlet</servlet-name>
    <url-pattern>/dettagli_studente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimuoviStudenteServlet</display-name>
    <servlet-name>RimuoviStudenteServlet</servlet-name>
    <servlet-class>it.unipr.informatica.esercizio6.web.RimuoviStudenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimuoviStudenteServlet</servlet-name>
    <url-pattern>/rimuovi_studente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserisciStudenteServlet</display-name>
    <servlet-name>InserisciStudenteServlet</servlet-name>
    <servlet-class>it.unipr.informatica.esercizio6.web.InserisciStudenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserisciStudenteServlet</servlet-name>
    <url-pattern>/inserisci_studente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaStudenteServlet</display-name>
    <servlet-name>ModificaStudenteServlet</servlet-name>
    <servlet-class>it.unipr.informatica.esercizio6.web.ModificaStudenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaStudenteServlet</servlet-name>
    <url-pattern>/modifica_studente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaStudenteServlet</display-name>
    <servlet-name>AggiornaStudenteServlet</servlet-name>
    <servlet-class>it.unipr.informatica.esercizio6.web.AggiornaStudenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaStudenteServlet</servlet-name>
    <url-pattern>/aggiorna_studente</url-pattern>
  </servlet-mapping>
</web-app>