<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Esame4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AggiungiStudenteServlet</display-name>
    <servlet-name>AggiungiStudenteServlet</servlet-name>
    <servlet-class>esame4.web.AggiungiStudenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiStudenteServlet</servlet-name>
    <url-pattern>/AggiungiStudenteServlet</url-pattern>
    <url-pattern>/aggiungi_studente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaricaDatiServlet</display-name>
    <servlet-name>CaricaDatiServlet</servlet-name>
    <servlet-class>esame4.web.CaricaDatiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaricaDatiServlet</servlet-name>
    <url-pattern>/CaricaDatiServlet</url-pattern>
    <url-pattern>/carica_dati</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimuoviStudenteServlet</display-name>
    <servlet-name>RimuoviStudenteServlet</servlet-name>
    <servlet-class>esame4.web.RimuoviStudenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimuoviStudenteServlet</servlet-name>
    <url-pattern>/RimuoviStudenteServlet</url-pattern>
    <url-pattern>/rimuovi_studente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinguaSitoServlet</display-name>
    <servlet-name>LinguaSitoServlet</servlet-name>
    <servlet-class>esame4.web.LinguaSitoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinguaSitoServlet</servlet-name>
    <url-pattern>/LinguaSitoServlet</url-pattern>
    <url-pattern>/lingua_sito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaStudentiServlet</display-name>
    <servlet-name>ListaStudentiServlet</servlet-name>
    <servlet-class>esame4.web.ListaStudentiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaStudentiServlet</servlet-name>
    <url-pattern>/ListaStudentiServlet</url-pattern>
    <url-pattern>/lista_studenti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaStudenteServlet</display-name>
    <servlet-name>ModificaStudenteServlet</servlet-name>
    <servlet-class>esame4.web.ModificaStudenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaStudenteServlet</servlet-name>
    <url-pattern>/ModificaStudenteServlet</url-pattern>
    <url-pattern>/modifica_studente</url-pattern>
  </servlet-mapping>
</web-app>